<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>screeningDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="screeningDate" name="screeningResult.screeningDate" [(ngModel)]="screeningResult.screeningDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>provider</mat-label>
								<input matInput ngDefaultControl placeholder="provider" name="screeningResult.provider" [(ngModel)]="screeningResult.provider">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>KycProfile</mat-label>
					<mat-select placeholder="KycProfile"  [(ngModel)]="screeningResult.KycProfile">
						@for (kycProfile of kycProfiles; track kycProfile.kycProfileId) {
							<mat-option name="screeningResult.KycProfile" ngDefaultControl
							            [value]="kycProfile.kycProfileId">
								{{kycProfile.profileId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Outcome</mat-label>
						<mat-select placeholder="Outcome" name="screeningResult.Outcome" [(ngModel)]="screeningResult.Outcome">
							@for (ScreeningOutcome of ScreeningOutcomes; track ScreeningOutcome) {
								<mat-option ngDefaultControl [value]="ScreeningOutcome">
									{{ScreeningOutcome}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																										 																							 										<button
				(click)="addScreeningResult(screeningResult.screeningDate, screeningResult.provider, screeningResult.KycProfile, screeningResult.Outcome)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
