
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Site List</h5>

    <a
            [routerLink]="['/createSite']"
            class="btn btn-primary btn-sm">
        Create Site
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">name</th>
                        <th scope="col">address</th>
                        <th scope="col">timezone</th>
                        <th scope="col">latitude</th>
                        <th scope="col">longitude</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (site of sites; track site.siteId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ site.name }}
                </td>
                                <td class="align-middle">
                    {{ site.address }}
                </td>
                                <td class="align-middle">
                    {{ site.timezone }}
                </td>
                                <td class="align-middle">
                    {{ site.latitude }}
                </td>
                                <td class="align-middle">
                    {{ site.longitude }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadSite', site.siteId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteSite(site.siteId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (sites?.length === 0) {
            <tr>
                <td
                        colspan="7"
                        class="text-center">
                    No sites found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>