<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>tradeReference</mat-label>
								<input matInput ngDefaultControl placeholder="tradeReference" name="fXTrade.tradeReference" [(ngModel)]="fXTrade.tradeReference">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>tradeDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="tradeDate" name="fXTrade.tradeDate" [(ngModel)]="fXTrade.tradeDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>settlementDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="settlementDate" name="fXTrade.settlementDate" [(ngModel)]="fXTrade.settlementDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>amountSold</mat-label>
								<input matInput ngDefaultControl placeholder="amountSold" name="fXTrade.amountSold" [(ngModel)]="fXTrade.amountSold">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>amountBought</mat-label>
								<input matInput ngDefaultControl placeholder="amountBought" name="fXTrade.amountBought" [(ngModel)]="fXTrade.amountBought">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>rate</mat-label>
								<input matInput ngDefaultControl placeholder="rate" name="fXTrade.rate" [(ngModel)]="fXTrade.rate">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Customer</mat-label>
					<mat-select placeholder="Customer"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.Customer">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="fXTrade.Customer" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Bank</mat-label>
					<mat-select placeholder="Bank"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.Bank">
						@for (bank of banks; track bank.bankId) {
							<mat-option name="fXTrade.Bank" ngDefaultControl
							            [value]="bank.bankId">
								{{bank.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>ExchangeRate</mat-label>
					<mat-select placeholder="ExchangeRate"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.ExchangeRate">
						@for (exchangeRate of exchangeRates; track exchangeRate.exchangeRateId) {
							<mat-option name="fXTrade.ExchangeRate" ngDefaultControl
							            [value]="exchangeRate.exchangeRateId">
								{{exchangeRate.baseCurrency}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>SourceAccount</mat-label>
					<mat-select placeholder="SourceAccount"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.SourceAccount">
						@for (account of accounts; track account.accountId) {
							<mat-option name="fXTrade.SourceAccount" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>DestinationAccount</mat-label>
					<mat-select placeholder="DestinationAccount"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.DestinationAccount">
						@for (account of accounts; track account.accountId) {
							<mat-option name="fXTrade.DestinationAccount" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Transaction</mat-label>
					<mat-select placeholder="Transaction"   [compareWith]="compareFn"  [(ngModel)]="fXTrade.Transaction">
						@for (transaction of transactions; track transaction.transactionId) {
							<mat-option name="fXTrade.Transaction" ngDefaultControl
							            [value]="transaction.transactionId">
								{{transaction.bookingDate}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="fXTrade.Status" [(ngModel)]="fXTrade.Status">
							@for (TradeStatus of TradeStatuss; track TradeStatus) {
								<mat-option ngDefaultControl [value]="TradeStatus">
									{{TradeStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																	 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																	 						 										<button
				(click)="updateFXTrade(fXTrade.tradeReference, fXTrade.tradeDate, fXTrade.settlementDate, fXTrade.amountSold, fXTrade.amountBought, fXTrade.rate, fXTrade.Customer, fXTrade.Bank, fXTrade.ExchangeRate, fXTrade.SourceAccount, fXTrade.DestinationAccount, fXTrade.Transaction, fXTrade.Status)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
