<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>feeCode</mat-label>
								<input matInput ngDefaultControl placeholder="feeCode" name="feeCharge.feeCode" [(ngModel)]="feeCharge.feeCode">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>amount</mat-label>
								<input matInput ngDefaultControl placeholder="amount" name="feeCharge.amount" [(ngModel)]="feeCharge.amount">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>appliedOn</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="appliedOn" name="feeCharge.appliedOn" [(ngModel)]="feeCharge.appliedOn">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Account</mat-label>
					<mat-select placeholder="Account"   [compareWith]="compareFn"  [(ngModel)]="feeCharge.Account">
						@for (account of accounts; track account.accountId) {
							<mat-option name="feeCharge.Account" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>LoanAccount</mat-label>
					<mat-select placeholder="LoanAccount"   [compareWith]="compareFn"  [(ngModel)]="feeCharge.LoanAccount">
						@for (loanAccount of loanAccounts; track loanAccount.loanAccountId) {
							<mat-option name="feeCharge.LoanAccount" ngDefaultControl
							            [value]="loanAccount.loanAccountId">
								{{loanAccount.loanNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>FeeType</mat-label>
						<mat-select placeholder="FeeType" name="feeCharge.FeeType" [(ngModel)]="feeCharge.FeeType">
							@for (FeeType of FeeTypes; track FeeType) {
								<mat-option ngDefaultControl [value]="FeeType">
									{{FeeType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																				 						 																				 						 																	 						 										<button
				(click)="updateFeeCharge(feeCharge.feeCode, feeCharge.amount, feeCharge.appliedOn, feeCharge.Account, feeCharge.LoanAccount, feeCharge.FeeType)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
