<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>appraisedValue</mat-label>
								<input matInput ngDefaultControl placeholder="appraisedValue" name="collateral.appraisedValue" [(ngModel)]="collateral.appraisedValue">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>description</mat-label>
								<input matInput ngDefaultControl placeholder="description" name="collateral.description" [(ngModel)]="collateral.description">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>location</mat-label>
								<input matInput ngDefaultControl placeholder="location" name="collateral.location" [(ngModel)]="collateral.location">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>LoanAccount</mat-label>
					<mat-select placeholder="LoanAccount"  [(ngModel)]="collateral.LoanAccount">
						@for (loanAccount of loanAccounts; track loanAccount.loanAccountId) {
							<mat-option name="collateral.LoanAccount" ngDefaultControl
							            [value]="loanAccount.loanAccountId">
								{{loanAccount.loanNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>CollateralType</mat-label>
						<mat-select placeholder="CollateralType" name="collateral.CollateralType" [(ngModel)]="collateral.CollateralType">
							@for (CollateralType of CollateralTypes; track CollateralType) {
								<mat-option ngDefaultControl [value]="CollateralType">
									{{CollateralType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																										 																							 										<button
				(click)="addCollateral(collateral.appraisedValue, collateral.description, collateral.location, collateral.LoanAccount, collateral.CollateralType)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
