<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>grantedOn</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="grantedOn" name="consent.grantedOn" [(ngModel)]="consent.grantedOn">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>expiresOn</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="expiresOn" name="consent.expiresOn" [(ngModel)]="consent.expiresOn">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Customer</mat-label>
					<mat-select placeholder="Customer"   [compareWith]="compareFn"  [(ngModel)]="consent.Customer">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="consent.Customer" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Bank</mat-label>
					<mat-select placeholder="Bank"   [compareWith]="compareFn"  [(ngModel)]="consent.Bank">
						@for (bank of banks; track bank.bankId) {
							<mat-option name="consent.Bank" ngDefaultControl
							            [value]="bank.bankId">
								{{bank.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>AuthorizedAccounts</mat-label>
					<mat-select placeholder="AuthorizedAccounts" multiple  [compareWith]="compareFn"  [(ngModel)]="consent.AuthorizedAccounts">
						@for (account of accounts; track account.accountId) {
							<mat-option name="consent.AuthorizedAccounts" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>ThirdPartyProvider</mat-label>
					<mat-select placeholder="ThirdPartyProvider"   [compareWith]="compareFn"  [(ngModel)]="consent.ThirdPartyProvider">
						@for (thirdPartyProvider of thirdPartyProviders; track thirdPartyProvider.thirdPartyProviderId) {
							<mat-option name="consent.ThirdPartyProvider" ngDefaultControl
							            [value]="thirdPartyProvider.thirdPartyProviderId">
								{{thirdPartyProvider.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>ConsentType</mat-label>
						<mat-select placeholder="ConsentType" name="consent.ConsentType" [(ngModel)]="consent.ConsentType">
							@for (ConsentType of ConsentTypes; track ConsentType) {
								<mat-option ngDefaultControl [value]="ConsentType">
									{{ConsentType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="consent.Status" [(ngModel)]="consent.Status">
							@for (ConsentStatus of ConsentStatuss; track ConsentStatus) {
								<mat-option ngDefaultControl [value]="ConsentStatus">
									{{ConsentStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																				 						 																				 						 																				 						 																				 						 																	 						 																	 						 										<button
				(click)="updateConsent(consent.grantedOn, consent.expiresOn, consent.Customer, consent.Bank, consent.AuthorizedAccounts, consent.ThirdPartyProvider, consent.ConsentType, consent.Status)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
