<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="bank.name" [(ngModel)]="bank.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>legalName</mat-label>
								<input matInput ngDefaultControl placeholder="legalName" name="bank.legalName" [(ngModel)]="bank.legalName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>swiftBic</mat-label>
								<input matInput ngDefaultControl placeholder="swiftBic" name="bank.swiftBic" [(ngModel)]="bank.swiftBic">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>headquartersCountry</mat-label>
								<input matInput ngDefaultControl placeholder="headquartersCountry" name="bank.headquartersCountry" [(ngModel)]="bank.headquartersCountry">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>website</mat-label>
								<input matInput ngDefaultControl placeholder="website" name="bank.website" [(ngModel)]="bank.website">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Branches</mat-label>
					<mat-select placeholder="Branches" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.Branches">
						@for (branch of branchs; track branch.branchId) {
							<mat-option name="bank.Branches" ngDefaultControl
							            [value]="branch.branchId">
								{{branch.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Products</mat-label>
					<mat-select placeholder="Products" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.Products">
						@for (bankingProduct of bankingProducts; track bankingProduct.bankingProductId) {
							<mat-option name="bank.Products" ngDefaultControl
							            [value]="bankingProduct.bankingProductId">
								{{bankingProduct.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Customers</mat-label>
					<mat-select placeholder="Customers" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.Customers">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="bank.Customers" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Accounts</mat-label>
					<mat-select placeholder="Accounts" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.Accounts">
						@for (account of accounts; track account.accountId) {
							<mat-option name="bank.Accounts" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>PaymentCards</mat-label>
					<mat-select placeholder="PaymentCards" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.PaymentCards">
						@for (paymentCard of paymentCards; track paymentCard.paymentCardId) {
							<mat-option name="bank.PaymentCards" ngDefaultControl
							            [value]="paymentCard.paymentCardId">
								{{paymentCard.embossedName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>LoanAccounts</mat-label>
					<mat-select placeholder="LoanAccounts" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.LoanAccounts">
						@for (loanAccount of loanAccounts; track loanAccount.loanAccountId) {
							<mat-option name="bank.LoanAccounts" ngDefaultControl
							            [value]="loanAccount.loanAccountId">
								{{loanAccount.loanNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>ExchangeRates</mat-label>
					<mat-select placeholder="ExchangeRates" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.ExchangeRates">
						@for (exchangeRate of exchangeRates; track exchangeRate.exchangeRateId) {
							<mat-option name="bank.ExchangeRates" ngDefaultControl
							            [value]="exchangeRate.exchangeRateId">
								{{exchangeRate.baseCurrency}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Consents</mat-label>
					<mat-select placeholder="Consents" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.Consents">
						@for (consent of consents; track consent.consentId) {
							<mat-option name="bank.Consents" ngDefaultControl
							            [value]="consent.consentId">
								{{consent.grantedOn}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>ThirdPartyProviders</mat-label>
					<mat-select placeholder="ThirdPartyProviders" multiple  [compareWith]="compareFn"  [(ngModel)]="bank.ThirdPartyProviders">
						@for (thirdPartyProvider of thirdPartyProviders; track thirdPartyProvider.thirdPartyProviderId) {
							<mat-option name="bank.ThirdPartyProviders" ngDefaultControl
							            [value]="thirdPartyProvider.thirdPartyProviderId">
								{{thirdPartyProvider.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																 						 																	 						 																	 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 																				 						 										<button
				(click)="updateBank(bank.name, bank.legalName, bank.swiftBic, bank.headquartersCountry, bank.website, bank.Branches, bank.Products, bank.Customers, bank.Accounts, bank.PaymentCards, bank.LoanAccounts, bank.ExchangeRates, bank.Consents, bank.ThirdPartyProviders)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
