<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>loanNumber</mat-label>
								<input matInput ngDefaultControl placeholder="loanNumber" name="loanAccount.loanNumber" [(ngModel)]="loanAccount.loanNumber">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>principalAmount</mat-label>
								<input matInput ngDefaultControl placeholder="principalAmount" name="loanAccount.principalAmount" [(ngModel)]="loanAccount.principalAmount">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>outstandingPrincipal</mat-label>
								<input matInput ngDefaultControl placeholder="outstandingPrincipal" name="loanAccount.outstandingPrincipal" [(ngModel)]="loanAccount.outstandingPrincipal">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>interestRate</mat-label>
								<input matInput ngDefaultControl placeholder="interestRate" name="loanAccount.interestRate" [(ngModel)]="loanAccount.interestRate">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>originationDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="originationDate" name="loanAccount.originationDate" [(ngModel)]="loanAccount.originationDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>maturityDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="maturityDate" name="loanAccount.maturityDate" [(ngModel)]="loanAccount.maturityDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<input matInput placeholder="paymentDayOfMonth" name="loanAccount.paymentDayOfMonth" [(ngModel)]="loanAccount.paymentDayOfMonth">
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>currency</mat-label>
								<input matInput ngDefaultControl placeholder="currency" name="loanAccount.currency" [(ngModel)]="loanAccount.currency">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Bank</mat-label>
					<mat-select placeholder="Bank"  [(ngModel)]="loanAccount.Bank">
						@for (bank of banks; track bank.bankId) {
							<mat-option name="loanAccount.Bank" ngDefaultControl
							            [value]="bank.bankId">
								{{bank.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Branch</mat-label>
					<mat-select placeholder="Branch"  [(ngModel)]="loanAccount.Branch">
						@for (branch of branchs; track branch.branchId) {
							<mat-option name="loanAccount.Branch" ngDefaultControl
							            [value]="branch.branchId">
								{{branch.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Product</mat-label>
					<mat-select placeholder="Product"  [(ngModel)]="loanAccount.Product">
						@for (bankingProduct of bankingProducts; track bankingProduct.bankingProductId) {
							<mat-option name="loanAccount.Product" ngDefaultControl
							            [value]="bankingProduct.bankingProductId">
								{{bankingProduct.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Borrowers</mat-label>
					<mat-select placeholder="Borrowers" multiple [(ngModel)]="loanAccount.Borrowers">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="loanAccount.Borrowers" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>RepaymentSchedule</mat-label>
					<mat-select placeholder="RepaymentSchedule" multiple [(ngModel)]="loanAccount.RepaymentSchedule">
						@for (repaymentSchedule of repaymentSchedules; track repaymentSchedule.repaymentScheduleId) {
							<mat-option name="loanAccount.RepaymentSchedule" ngDefaultControl
							            [value]="repaymentSchedule.repaymentScheduleId">
								{{repaymentSchedule.installmentNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Payments</mat-label>
					<mat-select placeholder="Payments" multiple [(ngModel)]="loanAccount.Payments">
						@for (loanPayment of loanPayments; track loanPayment.loanPaymentId) {
							<mat-option name="loanAccount.Payments" ngDefaultControl
							            [value]="loanPayment.loanPaymentId">
								{{loanPayment.paymentReference}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Collateral</mat-label>
					<mat-select placeholder="Collateral" multiple [(ngModel)]="loanAccount.Collateral">
						@for (collateral of collaterals; track collateral.collateralId) {
							<mat-option name="loanAccount.Collateral" ngDefaultControl
							            [value]="collateral.collateralId">
								{{collateral.appraisedValue}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>FeeCharges</mat-label>
					<mat-select placeholder="FeeCharges" multiple [(ngModel)]="loanAccount.FeeCharges">
						@for (feeCharge of feeCharges; track feeCharge.feeChargeId) {
							<mat-option name="loanAccount.FeeCharges" ngDefaultControl
							            [value]="feeCharge.feeChargeId">
								{{feeCharge.feeCode}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>LoanType</mat-label>
						<mat-select placeholder="LoanType" name="loanAccount.LoanType" [(ngModel)]="loanAccount.LoanType">
							@for (LoanType of LoanTypes; track LoanType) {
								<mat-option ngDefaultControl [value]="LoanType">
									{{LoanType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>RateType</mat-label>
						<mat-select placeholder="RateType" name="loanAccount.RateType" [(ngModel)]="loanAccount.RateType">
							@for (RateType of RateTypes; track RateType) {
								<mat-option ngDefaultControl [value]="RateType">
									{{RateType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Compounding</mat-label>
						<mat-select placeholder="Compounding" name="loanAccount.Compounding" [(ngModel)]="loanAccount.Compounding">
							@for (InterestCompounding of InterestCompoundings; track InterestCompounding) {
								<mat-option ngDefaultControl [value]="InterestCompounding">
									{{InterestCompounding}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="loanAccount.Status" [(ngModel)]="loanAccount.Status">
							@for (LoanStatus of LoanStatuss; track LoanStatus) {
								<mat-option ngDefaultControl [value]="LoanStatus">
									{{LoanStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																							 																							 																							 																							 																							 																										 																										 																										 																										 																										 																										 																										 																										 																							 																							 																							 																							 										<button
				(click)="addLoanAccount(loanAccount.loanNumber, loanAccount.principalAmount, loanAccount.outstandingPrincipal, loanAccount.interestRate, loanAccount.originationDate, loanAccount.maturityDate, loanAccount.paymentDayOfMonth, loanAccount.currency, loanAccount.Bank, loanAccount.Branch, loanAccount.Product, loanAccount.Borrowers, loanAccount.RepaymentSchedule, loanAccount.Payments, loanAccount.Collateral, loanAccount.FeeCharges, loanAccount.LoanType, loanAccount.RateType, loanAccount.Compounding, loanAccount.Status)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
