
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">FundsTransfer List</h5>

    <a
            [routerLink]="['/createFundsTransfer']"
            class="btn btn-primary btn-sm">
        Create FundsTransfer
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">transferReference</th>
                        <th scope="col">amount</th>
                        <th scope="col">requestedDate</th>
                        <th scope="col">executionDate</th>
                        <th scope="col">purpose</th>
                        <th scope="col">feeAmount</th>
                        <th scope="col">Method</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (fundsTransfer of fundsTransfers; track fundsTransfer.fundsTransferId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ fundsTransfer.transferReference }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.amount }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.requestedDate }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.executionDate }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.purpose }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.feeAmount }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.Method }}
                </td>
                                <td class="align-middle">
                    {{ fundsTransfer.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadFundsTransfer', fundsTransfer.fundsTransferId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteFundsTransfer(fundsTransfer.fundsTransferId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (fundsTransfers?.length === 0) {
            <tr>
                <td
                        colspan="10"
                        class="text-center">
                    No fundsTransfers found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>