<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>transferReference</mat-label>
								<input matInput ngDefaultControl placeholder="transferReference" name="fundsTransfer.transferReference" [(ngModel)]="fundsTransfer.transferReference">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>amount</mat-label>
								<input matInput ngDefaultControl placeholder="amount" name="fundsTransfer.amount" [(ngModel)]="fundsTransfer.amount">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>requestedDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="requestedDate" name="fundsTransfer.requestedDate" [(ngModel)]="fundsTransfer.requestedDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>executionDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="executionDate" name="fundsTransfer.executionDate" [(ngModel)]="fundsTransfer.executionDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>purpose</mat-label>
								<input matInput ngDefaultControl placeholder="purpose" name="fundsTransfer.purpose" [(ngModel)]="fundsTransfer.purpose">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>feeAmount</mat-label>
								<input matInput ngDefaultControl placeholder="feeAmount" name="fundsTransfer.feeAmount" [(ngModel)]="fundsTransfer.feeAmount">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>SourceAccount</mat-label>
					<mat-select placeholder="SourceAccount"  [(ngModel)]="fundsTransfer.SourceAccount">
						@for (account of accounts; track account.accountId) {
							<mat-option name="fundsTransfer.SourceAccount" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>DestinationAccount</mat-label>
					<mat-select placeholder="DestinationAccount"  [(ngModel)]="fundsTransfer.DestinationAccount">
						@for (account of accounts; track account.accountId) {
							<mat-option name="fundsTransfer.DestinationAccount" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>ExternalBeneficiary</mat-label>
					<mat-select placeholder="ExternalBeneficiary"  [(ngModel)]="fundsTransfer.ExternalBeneficiary">
						@for (externalAccount of externalAccounts; track externalAccount.externalAccountId) {
							<mat-option name="fundsTransfer.ExternalBeneficiary" ngDefaultControl
							            [value]="externalAccount.externalAccountId">
								{{externalAccount.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>InitiatedBy</mat-label>
					<mat-select placeholder="InitiatedBy"  [(ngModel)]="fundsTransfer.InitiatedBy">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="fundsTransfer.InitiatedBy" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Transactions</mat-label>
					<mat-select placeholder="Transactions" multiple [(ngModel)]="fundsTransfer.Transactions">
						@for (transaction of transactions; track transaction.transactionId) {
							<mat-option name="fundsTransfer.Transactions" ngDefaultControl
							            [value]="transaction.transactionId">
								{{transaction.bookingDate}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Method</mat-label>
						<mat-select placeholder="Method" name="fundsTransfer.Method" [(ngModel)]="fundsTransfer.Method">
							@for (PaymentMethod of PaymentMethods; track PaymentMethod) {
								<mat-option ngDefaultControl [value]="PaymentMethod">
									{{PaymentMethod}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Status</mat-label>
						<mat-select placeholder="Status" name="fundsTransfer.Status" [(ngModel)]="fundsTransfer.Status">
							@for (PaymentStatus of PaymentStatuss; track PaymentStatus) {
								<mat-option ngDefaultControl [value]="PaymentStatus">
									{{PaymentStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																							 																							 																							 																										 																										 																										 																										 																										 																							 																							 										<button
				(click)="addFundsTransfer(fundsTransfer.transferReference, fundsTransfer.amount, fundsTransfer.requestedDate, fundsTransfer.executionDate, fundsTransfer.purpose, fundsTransfer.feeAmount, fundsTransfer.SourceAccount, fundsTransfer.DestinationAccount, fundsTransfer.ExternalBeneficiary, fundsTransfer.InitiatedBy, fundsTransfer.Transactions, fundsTransfer.Method, fundsTransfer.Status)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
