<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<input matInput placeholder="score" name="riskAssessment.score" [(ngModel)]="riskAssessment.score">
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>assessedOn</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="assessedOn" name="riskAssessment.assessedOn" [(ngModel)]="riskAssessment.assessedOn">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>KycProfile</mat-label>
					<mat-select placeholder="KycProfile"  [(ngModel)]="riskAssessment.KycProfile">
						@for (kycProfile of kycProfiles; track kycProfile.kycProfileId) {
							<mat-option name="riskAssessment.KycProfile" ngDefaultControl
							            [value]="kycProfile.kycProfileId">
								{{kycProfile.profileId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>Rating</mat-label>
						<mat-select placeholder="Rating" name="riskAssessment.Rating" [(ngModel)]="riskAssessment.Rating">
							@for (RiskRating of RiskRatings; track RiskRating) {
								<mat-option ngDefaultControl [value]="RiskRating">
									{{RiskRating}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																										 																							 										<button
				(click)="addRiskAssessment(riskAssessment.score, riskAssessment.assessedOn, riskAssessment.KycProfile, riskAssessment.Rating)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
