<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>documentNumber</mat-label>
								<input matInput ngDefaultControl placeholder="documentNumber" name="identityDocument.documentNumber" [(ngModel)]="identityDocument.documentNumber">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>issuingCountry</mat-label>
								<input matInput ngDefaultControl placeholder="issuingCountry" name="identityDocument.issuingCountry" [(ngModel)]="identityDocument.issuingCountry">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>expirationDate</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="expirationDate" name="identityDocument.expirationDate" [(ngModel)]="identityDocument.expirationDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>KycProfile</mat-label>
					<mat-select placeholder="KycProfile"  [(ngModel)]="identityDocument.KycProfile">
						@for (kycProfile of kycProfiles; track kycProfile.kycProfileId) {
							<mat-option name="identityDocument.KycProfile" ngDefaultControl
							            [value]="kycProfile.kycProfileId">
								{{kycProfile.profileId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>DocumentType</mat-label>
						<mat-select placeholder="DocumentType" name="identityDocument.DocumentType" [(ngModel)]="identityDocument.DocumentType">
							@for (IdentityDocumentType of IdentityDocumentTypes; track IdentityDocumentType) {
								<mat-option ngDefaultControl [value]="IdentityDocumentType">
									{{IdentityDocumentType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																										 																							 										<button
				(click)="addIdentityDocument(identityDocument.documentNumber, identityDocument.issuingCountry, identityDocument.expirationDate, identityDocument.KycProfile, identityDocument.DocumentType)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
