<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																	 																																																																															<mat-form-field appearance="outline">
								<mat-label>cardNumber</mat-label>
								<input matInput ngDefaultControl placeholder="cardNumber" name="paymentCard.cardNumber" [(ngModel)]="paymentCard.cardNumber">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<mat-form-field appearance="outline">
								<mat-label>embossedName</mat-label>
								<input matInput ngDefaultControl placeholder="embossedName" name="paymentCard.embossedName" [(ngModel)]="paymentCard.embossedName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
					 																																																																															<input matInput placeholder="expiryMonth" name="paymentCard.expiryMonth" [(ngModel)]="paymentCard.expiryMonth">
																																																																	<p>
					 																																																																															<input matInput placeholder="expiryYear" name="paymentCard.expiryYear" [(ngModel)]="paymentCard.expiryYear">
																																																																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Bank</mat-label>
					<mat-select placeholder="Bank"   [compareWith]="compareFn"  [(ngModel)]="paymentCard.Bank">
						@for (bank of banks; track bank.bankId) {
							<mat-option name="paymentCard.Bank" ngDefaultControl
							            [value]="bank.bankId">
								{{bank.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Account</mat-label>
					<mat-select placeholder="Account"   [compareWith]="compareFn"  [(ngModel)]="paymentCard.Account">
						@for (account of accounts; track account.accountId) {
							<mat-option name="paymentCard.Account" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																							 								 								<mat-form-field appearance="outline">
					<mat-label>Customer</mat-label>
					<mat-select placeholder="Customer"   [compareWith]="compareFn"  [(ngModel)]="paymentCard.Customer">
						@for (customer of customers; track customer.customerId) {
							<mat-option name="paymentCard.Customer" ngDefaultControl
							            [value]="customer.customerId">
								{{customer.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																																						 								 								<mat-form-field appearance="outline">
					<mat-label>Transactions</mat-label>
					<mat-select placeholder="Transactions" multiple  [compareWith]="compareFn"  [(ngModel)]="paymentCard.Transactions">
						@for (transaction of transactions; track transaction.transactionId) {
							<mat-option name="paymentCard.Transactions" ngDefaultControl
							            [value]="transaction.transactionId">
								{{transaction.bookingDate}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>CardType</mat-label>
						<mat-select placeholder="CardType" name="paymentCard.CardType" [(ngModel)]="paymentCard.CardType">
							@for (CardType of CardTypes; track CardType) {
								<mat-option ngDefaultControl [value]="CardType">
									{{CardType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>CardStatus</mat-label>
						<mat-select placeholder="CardStatus" name="paymentCard.CardStatus" [(ngModel)]="paymentCard.CardStatus">
							@for (CardStatus of CardStatuss; track CardStatus) {
								<mat-option ngDefaultControl [value]="CardStatus">
									{{CardStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
					 																																				<mat-form-field appearance="outline">
						<mat-label>Network</mat-label>
						<mat-select placeholder="Network" name="paymentCard.Network" [(ngModel)]="paymentCard.Network">
							@for (CardNetwork of CardNetworks; track CardNetwork) {
								<mat-option ngDefaultControl [value]="CardNetwork">
									{{CardNetwork}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																 						 																	 						 																	 						 																	 						 																				 						 																				 						 																				 						 																				 						 																	 						 																	 						 																	 						 										<button
				(click)="updatePaymentCard(paymentCard.cardNumber, paymentCard.embossedName, paymentCard.expiryMonth, paymentCard.expiryYear, paymentCard.Bank, paymentCard.Account, paymentCard.Customer, paymentCard.Transactions, paymentCard.CardType, paymentCard.CardStatus, paymentCard.Network)"
							class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
