
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Consent List</h5>

    <a
            [routerLink]="['/createConsent']"
            class="btn btn-primary btn-sm">
        Create Consent
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr class="table-dark text-center">
                                    <th scope="col">grantedOn</th>
                        <th scope="col">expiresOn</th>
                        <th scope="col">ConsentType</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        @for (consent of consents; track consent.consentId) {
            <tr
                    class="text-center">

                                <td class="align-middle">
                    {{ consent.grantedOn }}
                </td>
                                <td class="align-middle">
                    {{ consent.expiresOn }}
                </td>
                                <td class="align-middle">
                    {{ consent.ConsentType }}
                </td>
                                <td class="align-middle">
                    {{ consent.Status }}
                </td>
                
                <td class="align-middle">
                    <a
                            [routerLink]="['/loadConsent', consent.consentId]"
                            class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>

                <td class="align-middle">
                    <button
                            type="button"
                            (click)="deleteConsent(consent.consentId)"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>

            </tr>
        }

        
        @if (consents?.length === 0) {
            <tr>
                <td
                        colspan="6"
                        class="text-center">
                    No consents found.
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>