<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="deviceGroup.name" [(ngModel)]="deviceGroup.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>criteria</mat-label>
								<input matInput ngDefaultControl placeholder="criteria" name="deviceGroup.criteria" [(ngModel)]="deviceGroup.criteria">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Tenant</mat-label>
					<mat-select placeholder="Tenant"  [(ngModel)]="deviceGroup.Tenant">
						@for (tenant of tenants; track tenant.tenantId) {
							<mat-option name="deviceGroup.Tenant" ngDefaultControl
							            [value]="tenant.tenantId">
								{{tenant.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Devices</mat-label>
					<mat-select placeholder="Devices" multiple [(ngModel)]="deviceGroup.Devices">
						@for (ioTDevice of ioTDevices; track ioTDevice.ioTDeviceId) {
							<mat-option name="deviceGroup.Devices" ngDefaultControl
							            [value]="ioTDevice.ioTDeviceId">
								{{ioTDevice.deviceId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																						 																							 																										 																										 										<button
				(click)="addDeviceGroup(deviceGroup.name, deviceGroup.criteria, deviceGroup.Tenant, deviceGroup.Devices)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
