<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>firstName</mat-label>
								<input matInput ngDefaultControl placeholder="firstName" name="customer.firstName" [(ngModel)]="customer.firstName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>lastName</mat-label>
								<input matInput ngDefaultControl placeholder="lastName" name="customer.lastName" [(ngModel)]="customer.lastName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>legalName</mat-label>
								<input matInput ngDefaultControl placeholder="legalName" name="customer.legalName" [(ngModel)]="customer.legalName">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>dateOfBirth</mat-label>
								<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateOfBirth" name="customer.dateOfBirth" [(ngModel)]="customer.dateOfBirth">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint></mat-hint>
							</mat-form-field>
																																																																	<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>taxId</mat-label>
								<input matInput ngDefaultControl placeholder="taxId" name="customer.taxId" [(ngModel)]="customer.taxId">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>email</mat-label>
								<input matInput ngDefaultControl placeholder="email" name="customer.email" [(ngModel)]="customer.email">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>phone</mat-label>
								<input matInput ngDefaultControl placeholder="phone" name="customer.phone" [(ngModel)]="customer.phone">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																																				<mat-form-field appearance="outline">
								<mat-label>address</mat-label>
								<input matInput ngDefaultControl placeholder="address" name="customer.address" [(ngModel)]="customer.address">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																								<mat-form-field appearance="outline">
					<mat-label>Bank</mat-label>
					<mat-select placeholder="Bank"  [(ngModel)]="customer.Bank">
						@for (bank of banks; track bank.bankId) {
							<mat-option name="customer.Bank" ngDefaultControl
							            [value]="bank.bankId">
								{{bank.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Accounts</mat-label>
					<mat-select placeholder="Accounts" multiple [(ngModel)]="customer.Accounts">
						@for (account of accounts; track account.accountId) {
							<mat-option name="customer.Accounts" ngDefaultControl
							            [value]="account.accountId">
								{{account.accountName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>LoanAccounts</mat-label>
					<mat-select placeholder="LoanAccounts" multiple [(ngModel)]="customer.LoanAccounts">
						@for (loanAccount of loanAccounts; track loanAccount.loanAccountId) {
							<mat-option name="customer.LoanAccounts" ngDefaultControl
							            [value]="loanAccount.loanAccountId">
								{{loanAccount.loanNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>PaymentCards</mat-label>
					<mat-select placeholder="PaymentCards" multiple [(ngModel)]="customer.PaymentCards">
						@for (paymentCard of paymentCards; track paymentCard.paymentCardId) {
							<mat-option name="customer.PaymentCards" ngDefaultControl
							            [value]="paymentCard.paymentCardId">
								{{paymentCard.embossedName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>ExternalAccounts</mat-label>
					<mat-select placeholder="ExternalAccounts" multiple [(ngModel)]="customer.ExternalAccounts">
						@for (externalAccount of externalAccounts; track externalAccount.externalAccountId) {
							<mat-option name="customer.ExternalAccounts" ngDefaultControl
							            [value]="externalAccount.externalAccountId">
								{{externalAccount.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>FundsTransfers</mat-label>
					<mat-select placeholder="FundsTransfers" multiple [(ngModel)]="customer.FundsTransfers">
						@for (fundsTransfer of fundsTransfers; track fundsTransfer.fundsTransferId) {
							<mat-option name="customer.FundsTransfers" ngDefaultControl
							            [value]="fundsTransfer.fundsTransferId">
								{{fundsTransfer.transferReference}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Disputes</mat-label>
					<mat-select placeholder="Disputes" multiple [(ngModel)]="customer.Disputes">
						@for (dispute of disputes; track dispute.disputeId) {
							<mat-option name="customer.Disputes" ngDefaultControl
							            [value]="dispute.disputeId">
								{{dispute.disputeReference}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>KycProfiles</mat-label>
					<mat-select placeholder="KycProfiles" multiple [(ngModel)]="customer.KycProfiles">
						@for (kycProfile of kycProfiles; track kycProfile.kycProfileId) {
							<mat-option name="customer.KycProfiles" ngDefaultControl
							            [value]="kycProfile.kycProfileId">
								{{kycProfile.profileId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Consents</mat-label>
					<mat-select placeholder="Consents" multiple [(ngModel)]="customer.Consents">
						@for (consent of consents; track consent.consentId) {
							<mat-option name="customer.Consents" ngDefaultControl
							            [value]="consent.consentId">
								{{consent.grantedOn}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>CustomerType</mat-label>
						<mat-select placeholder="CustomerType" name="customer.CustomerType" [(ngModel)]="customer.CustomerType">
							@for (CustomerType of CustomerTypes; track CustomerType) {
								<mat-option ngDefaultControl [value]="CustomerType">
									{{CustomerType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>RiskRating</mat-label>
						<mat-select placeholder="RiskRating" name="customer.RiskRating" [(ngModel)]="customer.RiskRating">
							@for (RiskRating of RiskRatings; track RiskRating) {
								<mat-option ngDefaultControl [value]="RiskRating">
									{{RiskRating}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>KycStatus</mat-label>
						<mat-select placeholder="KycStatus" name="customer.KycStatus" [(ngModel)]="customer.KycStatus">
							@for (KycStatus of KycStatuss; track KycStatus) {
								<mat-option ngDefaultControl [value]="KycStatus">
									{{KycStatus}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																							 																							 																							 																							 																							 																							 																							 																										 																										 																										 																										 																										 																										 																										 																										 																										 																							 																							 																							 										<button
				(click)="addCustomer(customer.firstName, customer.lastName, customer.legalName, customer.dateOfBirth, customer.taxId, customer.email, customer.phone, customer.address, customer.Bank, customer.Accounts, customer.LoanAccounts, customer.PaymentCards, customer.ExternalAccounts, customer.FundsTransfers, customer.Disputes, customer.KycProfiles, customer.Consents, customer.CustomerType, customer.RiskRating, customer.KycStatus)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
