<div class="card">
	<div class="card-header">
		<h5 class="mb-0">{{ title }}</h5>
	</div>

	<div class="card-body">
																																																																																																<mat-form-field appearance="outline">
								<mat-label>name</mat-label>
								<input matInput ngDefaultControl placeholder="name" name="tenant.name" [(ngModel)]="tenant.name">
								<mat-hint></mat-hint>
							</mat-form-field>
																																												<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Sites</mat-label>
					<mat-select placeholder="Sites" multiple [(ngModel)]="tenant.Sites">
						@for (site of sites; track site.siteId) {
							<mat-option name="tenant.Sites" ngDefaultControl
							            [value]="site.siteId">
								{{site.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Users</mat-label>
					<mat-select placeholder="Users" multiple [(ngModel)]="tenant.Users">
						@for (tenantUser of tenantUsers; track tenantUser.tenantUserId) {
							<mat-option name="tenant.Users" ngDefaultControl
							            [value]="tenantUser.tenantUserId">
								{{tenantUser.firstName}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>Devices</mat-label>
					<mat-select placeholder="Devices" multiple [(ngModel)]="tenant.Devices">
						@for (ioTDevice of ioTDevices; track ioTDevice.ioTDeviceId) {
							<mat-option name="tenant.Devices" ngDefaultControl
							            [value]="ioTDevice.ioTDeviceId">
								{{ioTDevice.deviceId}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>DataRetentionPolicies</mat-label>
					<mat-select placeholder="DataRetentionPolicies" multiple [(ngModel)]="tenant.DataRetentionPolicies">
						@for (dataRetentionPolicy of dataRetentionPolicys; track dataRetentionPolicy.dataRetentionPolicyId) {
							<mat-option name="tenant.DataRetentionPolicies" ngDefaultControl
							            [value]="dataRetentionPolicy.dataRetentionPolicyId">
								{{dataRetentionPolicy.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>ConnectivityPlans</mat-label>
					<mat-select placeholder="ConnectivityPlans" multiple [(ngModel)]="tenant.ConnectivityPlans">
						@for (connectivityPlan of connectivityPlans; track connectivityPlan.connectivityPlanId) {
							<mat-option name="tenant.ConnectivityPlans" ngDefaultControl
							            [value]="connectivityPlan.connectivityPlanId">
								{{connectivityPlan.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>SimCards</mat-label>
					<mat-select placeholder="SimCards" multiple [(ngModel)]="tenant.SimCards">
						@for (simCard of simCards; track simCard.simCardId) {
							<mat-option name="tenant.SimCards" ngDefaultControl
							            [value]="simCard.simCardId">
								{{simCard.iccid}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>MessagingEndpoints</mat-label>
					<mat-select placeholder="MessagingEndpoints" multiple [(ngModel)]="tenant.MessagingEndpoints">
						@for (messagingEndpoint of messagingEndpoints; track messagingEndpoint.messagingEndpointId) {
							<mat-option name="tenant.MessagingEndpoints" ngDefaultControl
							            [value]="messagingEndpoint.messagingEndpointId">
								{{messagingEndpoint.host}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>AccessPolicies</mat-label>
					<mat-select placeholder="AccessPolicies" multiple [(ngModel)]="tenant.AccessPolicies">
						@for (accessPolicy of accessPolicys; track accessPolicy.accessPolicyId) {
							<mat-option name="tenant.AccessPolicies" ngDefaultControl
							            [value]="accessPolicy.accessPolicyId">
								{{accessPolicy.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>DeviceGroups</mat-label>
					<mat-select placeholder="DeviceGroups" multiple [(ngModel)]="tenant.DeviceGroups">
						@for (deviceGroup of deviceGroups; track deviceGroup.deviceGroupId) {
							<mat-option name="tenant.DeviceGroups" ngDefaultControl
							            [value]="deviceGroup.deviceGroupId">
								{{deviceGroup.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>AlertRules</mat-label>
					<mat-select placeholder="AlertRules" multiple [(ngModel)]="tenant.AlertRules">
						@for (alertRule of alertRules; track alertRule.alertRuleId) {
							<mat-option name="tenant.AlertRules" ngDefaultControl
							            [value]="alertRule.alertRuleId">
								{{alertRule.name}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>MaintenanceTickets</mat-label>
					<mat-select placeholder="MaintenanceTickets" multiple [(ngModel)]="tenant.MaintenanceTickets">
						@for (maintenanceTicket of maintenanceTickets; track maintenanceTicket.maintenanceTicketId) {
							<mat-option name="tenant.MaintenanceTickets" ngDefaultControl
							            [value]="maintenanceTicket.maintenanceTicketId">
								{{maintenanceTicket.ticketNumber}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																																																							<mat-form-field appearance="outline">
					<mat-label>UsageRecords</mat-label>
					<mat-select placeholder="UsageRecords" multiple [(ngModel)]="tenant.UsageRecords">
						@for (usageRecord of usageRecords; track usageRecord.usageRecordId) {
							<mat-option name="tenant.UsageRecords" ngDefaultControl
							            [value]="usageRecord.usageRecordId">
								{{usageRecord.periodStart}}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
																	<p>
																																									<mat-form-field appearance="outline">
						<mat-label>TenantType</mat-label>
						<mat-select placeholder="TenantType" name="tenant.TenantType" [(ngModel)]="tenant.TenantType">
							@for (TenantType of TenantTypes; track TenantType) {
								<mat-option ngDefaultControl [value]="TenantType">
									{{TenantType}}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
																																	<p>
																						 																										 																										 																										 																										 																										 																										 																										 																										 																										 																										 																										 																										 																							 										<button
				(click)="addTenant(tenant.name, tenant.Sites, tenant.Users, tenant.Devices, tenant.DataRetentionPolicies, tenant.ConnectivityPlans, tenant.SimCards, tenant.MessagingEndpoints, tenant.AccessPolicies, tenant.DeviceGroups, tenant.AlertRules, tenant.MaintenanceTickets, tenant.UsageRecords, tenant.TenantType)"
							class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->
</div> <!-- panel panel-primary -->
